<%= form_for(@cliente, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @cliente.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h4>

      <ul>
      <% @cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, 'Nome/Razão Social', class: "col-sm-1 control-label" %>
    <div class="col-sm-10">
    <%= f.text_field :nome, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :pessoa, 'Pessoa', class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <select class="form-control" name="cliente[pessoa]" id="cliente_pessoa" onclick="verificaPessoa()">
        <option value=""></option>
        <option <% if @cliente.pessoa == 'F' %>selected="selected"<% end %> value="F">FÍSICA</option>
        <option <% if @cliente.pessoa == 'J' %>selected="selected"<% end %> value="J">JURÍDICA</option>
      </select>
    </div>

    <%= f.label :consumidor_final, 'Consumidor Final', class: "col-sm-2 control-label"  %>
    <div class="col-sm-2">
      <%= f.select(:consumidor_final, options_for_select([['NÃO', 'N'], ['SIM', 'S']], :selected => @cliente.consumidor_final), {:include_blank => true}, {class: "form-control"}) %>
    </div>

    <%= f.label :empresa_governo, 'Empresa do Governo', class: "col-sm-2 control-label"  %>
    <div class="col-sm-2">
      <%= f.select(:empresa_governo, options_for_select([['NÃO', false], ['SIM', true]], :selected => @cliente.empresa_governo), {:include_blank => true}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group pessoa-fisica" <% if @cliente.pessoa == 'F' %> style="display: block;" <% else %> style="display: none" <% end %>>
    <%= f.label :cpf, 'CPF', class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :cpf, class: "form-control" %>
    </div>
  
    <%= f.label :rg, 'RG', class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :rg, class: "form-control" %>
    </div>
  </div>

  <div class="form-group pessoa-juridica" <% if @cliente.pessoa == 'J' %> style="display: block;" <% else %> style="display: none" <% end %>>
    <%= f.label :cnpj, 'CNPJ', class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :cnpj, class: "form-control" %>
    </div>
  
    <%= f.label :ie, 'Inscrição Estadual', class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :ie, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :cep, 'CEP', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :cep, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :endereco, 'Endereço', class: "col-sm-1 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :endereco, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :bairro, 'Bairro', class: "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :bairro, class: "form-control" %>
    </div>
  
    <%= f.label :cidade, 'Cidade', class: "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :cidade, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :codcidade_ibge, 'Código IBGE', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :codcidade_ibge, class: "form-control", disabled: "disable" %>
    </div>

    <%= f.label :uf, 'UF', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :uf, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :telefone, 'Telefone', class: "col-sm-1 control-label" %>
    <div class="col-sm-7">
      <%= f.text_field :telefone, class: "form-control" %>
    </div>
  </div>  

  <div class="form-group">
    <%= f.label :email, 'Email', class: "col-sm-1 control-label" %>
    <div class="col-sm-7">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div> 

  <div class="form-group">
    <%= f.label :vendedor, 'Vendedor', class: "col-sm-1 control-label" %>
    <div class="col-sm-5">
      <%= f.select :vendedor_id, Vendedor.all.reorder("nome asc").collect { |vendedor| [vendedor.nome, vendedor.id] }, {:selected => @cliente.vendedor_id, :include_blank => true}, {:class=> 'form-control'} %>
    </div>

    <%= f.label :terceiro, 'Terceiro', class: "col-sm-1 control-label" %>
    <div class="col-sm-5">
      <%= f.select :terceiro_id, Terceiro.all.reorder("nome asc").collect { |terceiro| [terceiro.nome, terceiro.id] }, {:selected => @cliente.terceiro_id, :include_blank => true}, {:class=> 'form-control'} %>
    </div>
  </div>

  <br>
  
  <div>
    <%= link_to "Contatos", "/cliente_contatos", class:"btn btn-success" %>
  </div>

  <br><br>

  <h4>Contatos</h4>
  <hr>
  <div>
  </div>

  <div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome/Razão Social</th>
        <th>Endereço</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @clientes) do |cliente| %>
        <td><%= cliente.nome %></td>
        <td><%= cliente.endereco %></td>
        <td><%= cliente.bairro %></td>
        <td><%= cliente.cidade %></td>
        <td><%= link_to 'Mostrar', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Apagar', cliente, method: :delete, data: { confirm: 'Confirma ?' } %></td>
      <% end %>
    </tbody>
  </table>
  </div>

  <br><br>

  <h4>Contatos</h4>
  <hr>
  <div id="conteudoContainer">
    <% if @cliente.present? %>
      <% @cliente.contatos.each do |contato| %>
        <div class="item" style="margin-bottom: 40px">
          <div class="form-group">
            <label class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" value="<%= contato.nome %>" name="cliente[contato][][nome]">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" value="<%= contato.email %>" name="cliente[contato][][email]">
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label">Telefone</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" value="<%= contato.telefone %>" name="cliente[contato][][telefone]">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Cargo</label>
            <div class="col-sm-4">
              <input class="form-control" type="text" value="<%= contato.cargo %>" name="cliente[contato][][cargo]">
            </div>

            <label class="col-sm-2 control-label">Departamento</label>
            <div class="col-sm-4">
              <input class="form-control" type="text" value="<%= contato.departamento %>" name="cliente[contato][][departamento]">
            </div>
          </div>

        </div>
      <% end %>
    <% end %>

    <div class="item" style="margin-bottom: 40px">
      <div class="form-group">
        <label class="col-sm-2 control-label">Nome</label>
        <div class="col-sm-10">
          <input class="form-control", type="text" name="cliente[contato][][nome]">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="cliente[contato][][email]">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Telefone</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="cliente[contato][][telefone]">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Cargo</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" name="cliente[contato][][cargo]">
        </div>

        <label class="col-sm-2 control-label">Departamento</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" name="cliente[contato][][departamento]">
        </div>
      </div>

    </div>
  </div>

  <div class="form-group" style="text-align: right;">
    <a href="javascript:;" onclick="app.contas_pag.mais();" class="btn btn-primary">Mais</a>
  </div>

  <hr>

  <div class="form-group">
    <div class="col-sm-1">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<div id="conteudoContainerTemplate" style="display: none">
  <div class="item" style="margin-bottom: 40px">
    <div class="form-group">
      <label class="col-sm-2 control-label">Nome</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="cliente[contato][][nome]">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="cliente[contato][][email]">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Telefone</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="cliente[contato][][telefone]">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Cargo</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" name="cliente[contato][][cargo]">
      </div>

      <label class="col-sm-2 control-label">Departamento</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" name="cliente[contato][][departamento]">
      </div>
    </div>

  </div>
</div>

<script>
//Bloqueia a tecla Enter no campo de Input
$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });

  $("#cliente_cpf").mask("000.000.000-00")
  $("#cliente_cnpj").mask("00.000.000/0000-00")
});

const verificaPessoa = () =>{
  const selectElement = document.getElementById("cliente_pessoa")
  var codigo_pessoa = selectElement.value

  if(codigo_pessoa == "F"){
    $('.pessoa-fisica').show()
    $('.pessoa-juridica').hide()
  }else{
    $('.pessoa-fisica').hide()
    $('.pessoa-juridica').show()
  }
}

$("#cliente_endereco").focus(function(){
  let cep = $('#cliente_cep').val()

  $.ajax({
    type: "GET",
    url: "https://viacep.com.br/ws/" + cep + "/json/",
    success: function(data){
      if(data.logradouro){
        $('#cliente_endereco').val(data.logradouro);
        $('#cliente_bairro').val(data.bairro);
        $('#cliente_cidade').val(data.localidade);
        $('#cliente_uf').val(data.uf);
        $('#cliente_codcidade_ibge').val(data.ibge);
      }
    }
  })
});

function formatarCampo(campoTexto) {
    if (campoTexto.value.length <= 11) {
        campoTexto.value = mascaraCpf(campoTexto.value);
    } else {
        campoTexto.value = mascaraCnpj(campoTexto.value);
    }
}
function retirarFormatacao(campoTexto) {
    campoTexto.value = campoTexto.value.replace(/(\.|\/|\-)/g,"");
}
function mascaraCpf(valor) {
    return valor.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/g,"\$1.\$2.\$3\-\$4");
}
function mascaraCnpj(valor) {
    return valor.replace(/(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/g,"\$1.\$2.\$3\/\$4\-\$5");
}
  
</script>