<div class="page-header">
  <%= link_to new_cliente_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Cliente
  <% end %>
  <h1>Lista Clientes</h1>
</div>

<div style="text-align: right; margin-top:10px; margin-bottom:10px">
    <form action="/clientes" method="get">
      <div class="row" style="width:300px;display: inline-block;">
        <div style="float: left">
          <input type="text" name="nome" value="<%=params[:nome] %>" class="form-control" placeholder="Busca..">
       </div>
       <div style="float: left;margin-left:5px">
          <input type="submit" class="btn btn-primary" value="Buscar">
       </div>
      </div>
    </form>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Pessoa</th>
        <th>CPF</th>
        <th>RG</th>
        <th>CNPJ</th>
        <th>IE</th>
        <th>Endereco</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Cep</th>
        <th>UF</th>
        <th>Email</th>
        <th>Codcidade ibge</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @clientes) do |cliente| %>
            <td><%= cliente.nome %></td>
            <td><%= cliente.pessoa %></td>
            <td><%= cliente.cpf %></td>
            <td><%= cliente.rg %></td>
            <td><%= cliente.cnpj %></td>
            <td><%= cliente.ie %></td>
            <td><%= cliente.endereco %></td>
            <td><%= cliente.bairro %></td>
            <td><%= cliente.cidade %></td>
            <td><%= cliente.cep %></td>
            <td><%= cliente.uf %></td>
            <td><%= cliente.email %></td>
            <td><%= cliente.codcidade_ibge %></td>
            <td><%= link_to 'Mostrar', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Apagar', cliente, method: :delete, data: { confirm: 'Confirma ?' } %></td>
      <% end %>
    </tbody>
  </table>

  <div>
        <% will_paginate @clientes, :container => false %>        
  </div>
</div>
