<h3>Clientes</h3>

<div class="page-header">
  <%= link_to "javascript:window.location.assign('/clientes/new')", class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo
  <% end %>

  <h3>Lista</h3>
</div>

<div style="text-align: right; margin-top:10px; margin-bottom:10px">
  <form action="/clientes" method="get">
    <div style="display: flex; justify-content:inherit">
      <input type="text" style="width: 30%; margin-right: 10px;" name="busca" value="<%=params[:busca] %>" class="form-control" placeholder="Busca..">
      <input type="submit" class="btn btn-primary" value="Buscar">
    </div>
  </form>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome/Razão Social</th>
        <th>Endereço</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @clientes) do |cliente| %>
        <td><%= cliente.nome %></td>
        <td><%= cliente.endereco %></td>
        <td><%= cliente.bairro %></td>
        <td><%= cliente.cidade %></td>
        <td><%= link_to 'PDF', cliente_path(cliente, format: :pdf) %></td>
        <td><%= link_to 'Mostrar', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Apagar', cliente, method: :delete, data: { confirm: 'Confirma ?' } %></td>
      <% end %>
    </tbody>
  </table>

  <div class="apple_pagination">
    <%= will_paginate @clientes, :container => false %>
  </div>
</div>
