<h3>Contatos do Cliente</h3>

<h4><%= @cliente.id %> - <%= @cliente.nome%></h4>

<div class="page-header">
  <%= link_to cliente_cliente_contatos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to @clienes_cliente_contato, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <h3>Alteração</h3>
</div>

<%= render 'form' %>
