<h3>Contatos do Cliente</h3>

<h4><%= @cliente.id %> - <%= @cliente.nome%></h4>

<div class="page-header">
  <%= link_to new_cliente_cliente_contato_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo
  <% end %>
  <h2>Lista</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Cargo</th>
            <th>Departamento</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @cliente_contatos) do |cliente_contato| %>
            <td><%= cliente_contato.nome %></td>
            <td><%= cliente_contato.telefone %></td>
            <td><%= cliente_contato.email %></td>
            <td><%= cliente_contato.cargo %></td>
            <td><%= cliente_contato.departamento %></td>
            <td><%= link_to 'Mostrar', cliente_cliente_contatos_path %></td>
            <td><%= link_to 'Editar', edit_cliente_cliente_contato_path(@cliente, cliente_contato) %></td>
            <td><%= link_to 'Apagar', cliente_cliente_contatos_path, method: :delete, data: { confirm: 'Confirma ?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
