<div class="page-header">
  <h1>Lista de Estoque</h1>
</div>

<div style="text-align: right;margin-top:10px">
    <form action="/produtos" method="get">
      <div class="row" style="width:300px;display: inline-block;">
        <div style="float: left">
          <input type="text" name="descricao" value="<%=params[:descricao] %>" class="form-control" placeholder="Busca..">
       </div>
       <div style="float: left;margin-left:10px">
          <input type="submit" class="btn btn-primary" value="Buscar">
       </div>
      </div>
    </form>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Fornecedor</th>
        <th>Produto</th>
        <th>Lote</th>
        <th>Documento</th>
        <th>Data da Reposição</th>
        <th>Data da Validade</th>
        <th>Estoque Atual do Lote</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @estoques) do |estoque| %>
        <td><%= estoque.fornecedor.nome %></td>
        <td><%= estoque.produto.descricao %></td>
        <td><%= estoque.lote %></td>
        <td><%= estoque.documento %></td>
        <td><%= estoque.data_reposicao.strftime("%d/%m/%Y") rescue ""  %></td>
        <td><%= estoque.data_validade.strftime("%d/%m/%Y")  rescue "" %></td>
        <td><%= estoque.estoque_atual_lote %></td>
      <% end %>
    </tbody>
  </table>

  <div class="apple_pagination">
    <%= will_paginate @estoques, :container => false %>
  </div>
</div>
