<div class="page-header">
  <%= link_to estoques_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Reposição de Estoque</h1>
</div>

<%= form_for(estoques_ajuste_path, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @estoque.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4>Confira os campos abaixo:</h4>

      <ul>
      <% @estoque.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :produto, 'Fornecedor', class: "col-sm-1 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :produto, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :produto, 'Documento', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :produto, class: "form-control" %>
    </div>

    <%= f.label :produto, 'Data Reposição', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.datetime_field :produto, class: "form-control" %>
    </div>
  </div>

  <br>
  <br>
  
  <div class="form-group">
    <%= f.label :produto, 'Produto', class: "col-sm-1 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :produto, class: "form-control" %>
    </div>

    <%= f.label :estoque_atual, 'Estoque Atual', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :estoque_atual, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :lote, 'Lote Nº', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :lote, class: "form-control" %>
    </div>

    <%= f.label :produto, 'Data Validade', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.datetime_field :produto, class: "form-control" %>
    </div>

    <%= f.label :estoque_reservado, 'Quantidade', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :estoque_reservado, class: "form-control" %>
    </div>

    <%= f.label :estoque_reservado, 'Estoque Final', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :estoque_reservado, class: "form-control" %>
    </div>
  </div>

  <br>
  <br>
  
  <div class="form-group">
    <%= f.label :estoque_reservado, 'Preço Custo Atual', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :estoque_reservado, class: "form-control" %>
    </div>

    <%= f.label :estoque_reservado, 'Preco Custo Reposição', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :estoque_reservado, class: "form-control" %>
    </div>

    <%= f.label :estoque_reservado, 'Margem de Lucro (%)', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :estoque_reservado, class: "form-control" %>
    </div>

    <%= f.label :estoque_reservado, 'Preco de Venda', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :estoque_reservado, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
