
  <div class="form-group">
    <%= f.label :documento, 'Documento', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :documento, value: "#{@estoque.documento}", class: "form-control" %>
    </div>

    <%= f.label :data_reposicao, 'Data Reposição', class: "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.date_field :data_reposicao, value: "#{@estoque.data_reposicao}", class: "form-control" %>
    </div>
  </div>

  <br><br>
  
  <div class="form-group">

    <%= f.label :estoque_atual, 'Estoque Atual', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :estoque_atual, class: "form-control", disabled: "disable" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :estoque_atual_lote, 'Quantidade', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :estoque_atual_lote, class: "form-control", data: {behavior: "qtd-estoque"} %>
    </div>
  </div>

  <br><br>
  <div class="form-group">
    <label class="col-sm-1 control-label">Preco de Venda Atual</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" name="preco_venda_atual" id="estoques_reposicao_preco_venda_atual" disabled>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-1 control-label">Preço Custo Atual</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" name="preco_custo_atual" id="estoques_reposicao_preco_custo_atual" disabled>
    </div>

    <label class="col-sm-1 control-label">Preco Custo Reposição</label>
    <div class="col-sm-2">
      <%= f.text_field :preco_custo_reposicao, data: {behavior: "preco_custo_reposicao"}, class: "form-control"%>
    </div>

    <label class="col-sm-1 control-label">Margem de Lucro (%)</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" name="margem_lucro" id="estoques_reposicao_margem_lucro" data-behavior="margem-lucro">
    </div>

    <label class="col-sm-1 control-label">Preco de Venda</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" name="preco_venda" id="estoques_reposicao_preco_venda" data-behavior="preco-venda">
    </div>
  </div>

<script>
  const dadosProduto = () => {
    let produto_id = $("#_estoques_reposicao_produto_id").val()

    $.ajax({
      type: "GET",
      url: `/produtos/${produto_id}.json`,
      success: function(produto){
        if(produto){
          $('#_estoques_reposicao_estoque_atual').val(produto.estoque_atual);
          $('#estoques_reposicao_preco_custo_atual').val(produto.preco_custo);
          $('#estoques_reposicao_margem_lucro').val(produto.margem_lucro);
          $('#estoques_reposicao_preco_venda_atual').val(produto.preco_venda);
        }
      }
    })
  }

  $(document).on('keyup', '[data-behavior~=qtd-estoque]', function(event) {
    const val = parseInt($("input[data-behavior='qtd-estoque']").val())
    const estoque_atual = parseInt($('#_estoques_reposicao_estoque_atual').val())
    const total = val + estoque_atual 
    
    if(total > 0){
      $('#_estoques_reposicao_estoque_reservado').val("");
      $('#_estoques_reposicao_estoque_reservado').val(total);
    }else if(!total && total != 0){
      $('#_estoques_reposicao_estoque_reservado').val(estoque_atual);
    }
  });

  $(document).on('keyup', '[data-behavior~=preco_custo_reposicao]', function(event) {
    const preco_custo_reposicao = parseInt($("input[data-behavior='preco_custo_reposicao']").val())
    const margem_lucro = parseInt($("#estoques_reposicao_margem_lucro").val())
    const total = preco_custo_reposicao + (preco_custo_reposicao * margem_lucro / 100)
    
    if(total > 0){
      $('#estoques_reposicao_preco_venda').val("");
      $('#estoques_reposicao_preco_venda').val(total);
    }else if(!total && total != 0){
      $('#estoques_reposicao_preco_venda').val(preco_custo_reposicao);
    }
  });

  $(document).on('keyup', '[data-behavior~=margem-lucro]', function(event) {
    const margem_lucro = parseInt($("input[data-behavior='margem-lucro']").val())
    const preco_custo_reposicao = parseInt($('#_estoques_reposicao_preco_custo_reposicao').val())
    const total = preco_custo_reposicao + (preco_custo_reposicao * margem_lucro / 100)
    
    if(total > 0){
      $('#estoques_reposicao_preco_venda').val("");
      $('#estoques_reposicao_preco_venda').val(total);
    }else if(!total && total != 0){
      $('#estoques_reposicao_preco_venda').val(preco_custo_reposicao);
    }
  });

  $(document).on('keyup', '[data-behavior~=preco-venda]', function(event) {
    const preco_venda = parseInt($("input[data-behavior='preco-venda']").val())
    const preco_custo_reposicao = parseInt($('#_estoques_reposicao_preco_custo_reposicao').val())
    const margem_lucro = (preco_venda - preco_custo_reposicao) * 100 / preco_custo_reposicao
    
    if(margem_lucro > 0){
      $('#estoques_reposicao_margem_lucro').val("");
      $('#estoques_reposicao_margem_lucro').val(margem_lucro.toFixed(2));
    }else if(!margem_lucro && margem_lucro != 0){
      $('#estoques_reposicao_margem_lucro').val(preco_venda);
    }
  });
</script>
