<div class="page-header">
  <%= link_to estoques_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_estoque_path(@estoque), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar</h1>
</div>

<dl class="dl-horizontal">
  <dt>Produto:</dt>
  <dd><%= @estoque.produto %></dd>
  <dt>Lote:</dt>
  <dd><%= @estoque.lote %></dd>
  <dt>Estoque atual:</dt>
  <dd><%= @estoque.estoque_atual %></dd>
  <dt>Estoque minimo:</dt>
  <dd><%= @estoque.estoque_minimo %></dd>
  <dt>Estoque reservado:</dt>
  <dd><%= @estoque.estoque_reservado %></dd>
</dl>
