<div class="page-header">
  <%= link_to new_transportadora_contato_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Transportadora contato
  <% end %>
  <h1>Lista</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Transportadora</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @transportadora_contatos) do |transportadora_contato| %>
            <td><%= transportadora_contato.transportadora %></td>
            <td><%= transportadora_contato.nome %></td>
            <td><%= transportadora_contato.telefone %></td>
            <td><%= transportadora_contato.email %></td>
            <td><%= link_to 'Mostrar', transportadora_contato %></td>
        <td><%= link_to 'Editar', edit_transportadora_contato_path(transportadora_contato) %></td>
        <td><%= link_to 'Apagar', transportadora_contato, method: :delete, data: { confirm: 'Confirma ?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
