<div class="page-header">
  <%= link_to transportadora_contatos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_transportadora_contato_path(@transportadora_contato), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar</h1>
</div>

<dl class="dl-horizontal">
  <dt>Transportadora:</dt>
  <dd><%= @transportadora_contato.transportadora %></dd>
  <dt>Nome:</dt>
  <dd><%= @transportadora_contato.nome %></dd>
  <dt>Telefone:</dt>
  <dd><%= @transportadora_contato.telefone %></dd>
  <dt>Email:</dt>
  <dd><%= @transportadora_contato.email %></dd>
</dl>
