<%= form_for(@nota_fiscal, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @nota_fiscal.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4>Confira os campos abaixo:</h4>

      <ul>
      <% @nota_fiscal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ibox-content">
    <div class="row form-group">
        <div class="col-md-2">
          <%= f.label :cfop_de, 'CFOP' %>
          <%= f.text_field :cfop_de, class: "form-control" %>
        </div>

        <div class="col-md-2">
          <%= f.label :cfop_de_st, 'CFOP ST' %>
          <%= f.text_field :cfop_st_de, class: "form-control" %>
        </div>

        <div class="col-md-2">
          <%= f.label :cfop_fe, 'CFOP FE' %>
          <%= f.text_field :cfop_fe, class: "form-control" %>
        </div>

        <div class="col-md-2">
          <%= f.label :cfop_fe_st, 'CFOP ST FE' %>
          <%= f.text_field :cfop_st_fe, class: "form-control" %>
        </div>        
    </div>        

    <div class="row form-group">
        <div class="col-md-12">
          <%= f.label :descricao, 'Descrição' %>
          <%= f.text_field :descricao, class: "form-control" %>
        </div>
    </div>   
  </div>

  <div class="form-group">
    <%= f.label :numero_nota, 'Número Nota', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.number_field :numero_nota, class: "form-control" %>
    </div>

    <%= f.label :numero_pedido, 'Número Pedido', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.number_field :numero_pedido, class: "form-control" %>
    </div>
  </div>
   
  <div class="form-group">
    <%= f.label :cfop, 'CFOP', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :cfop, class: "form-control" %>
    </div>

    <%= f.label :vendedor, 'Natureza Operação', class: "col-sm-1 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :vendedor, class: "form-control" %>
    </div>   
  </div>
 
  <div class="form-group">
    <%= f.label :cliente, 'Cliente', class: "col-sm-1 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :cliente, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :fornecedor, 'Fornecedor', class: "col-sm-1 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :fornecedor, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :vendedor, 'Vendedor', class: "col-sm-1 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :vendedor, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :data_emissao, 'Data Emissão', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.date_field :data_emissao, class: "form-control" %>
    </div>
  
    <%= f.label :data_saida, 'Data Saída', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.date_field :data_saida, class: "form-control" %>
    </div>

    <%= f.label :hora_saida, 'Hora Saída', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :hora_saida, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :valor_desconto, 'Quantidade', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :valor_desconto, class: "form-control" %>
    </div>

    <%= f.label :valor_frete, 'Marca', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :valor_frete, class: "form-control" %>
    </div>

    <%= f.label :valor_frete, 'Espécie', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :valor_frete, class: "form-control" %>
    </div>

    <%= f.label :valor_outras_despesas, 'Peso Liquido', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :valor_outras_despesas, class: "form-control" %>
    </div>

    <%= f.label :numero_pedido_compra, 'Peso Bruto', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :numero_pedido_compra, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :valor_desconto, 'Valor Desconto', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :valor_desconto, class: "form-control" %>
    </div>

    <%= f.label :valor_frete, 'Valor Frete', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :valor_frete, class: "form-control" %>
    </div>

    <%= f.label :valor_outras_despesas, 'Valor Outras Despesas', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :valor_outras_despesas, class: "form-control" %>
    </div>

    <%= f.label :numero_pedido_compra, 'Número Pedido Compra', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :numero_pedido_compra, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
