<h1>Notas Fiscais</h1>

<div class="page-header">
  <%= link_to new_nota_fiscal_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo
  <% end %>
  <h2>Lista</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Número Nota</th>
        <th>Número Pedido</th>
        <th>Cliente</th>
        <th>Fornecedor</th>
        <th>Data Emissão</th>
        <th>Valor Total</th>
        <th>Chave Acesso</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @nota_fiscais) do |nota_fiscal| %>
            <td><%= nota_fiscal.numero_nota %></td>
            <td><%= nota_fiscal.numero_pedido %></td>
            <td><%= nota_fiscal.cliente %></td>
            <td><%= nota_fiscal.fornecedor %></td>
            <td><%= nota_fiscal.data_emissao %></td>
            <td><%= nota_fiscal.valor_total_nota %></td>
            <td><%= nota_fiscal.chave_acesso_nfe %></td>
            <td><%= link_to 'Mostrar', nota_fiscal %></td>
        <td><%= link_to 'Editar', edit_nota_fiscal_path(nota_fiscal) %></td>
        <td><%= link_to 'Apagar', nota_fiscal, method: :delete, data: { confirm: 'Confirma ?' } %></td>
      <% end %>
    </tbody>
  </table>

  <div class="apple_pagination">
    <%= will_paginate @nota_fiscais, :container => false %>
  </div>    
</div>
