<%= form_for([@nota_fiscal, @nota_fiscal_item], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <div class="form-group">
    <div class="col-sm-12">
      <label class="control-label">Nº Nota Fiscal: </label>
      <%= @nota_fiscal.id %>
      <br>
      <label class="control-label">CFOP: </label>
      <%= @nota_fiscal.cfop.codigo%>
    </div>
  </div>

  <br>

  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered user-select-none dinamicTable jsDinamicTable_nota_fiscal_id_<%= @nota_fiscal.id  %>">
      <thead>
        <tr>
          <th></th>
          <th>COD. Produto</th>
          <th>Descricao</th>
          <th>CFOP</th>
          <th>NCM</th>
          <th>Un.</th>
          <th>Qtd.</th>
          <th>Preço Unitario</th>
          <th>Preço Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="tableBody_nota_fiscal_id_<%= @nota_fiscal.id  %>">
        <% @nota_fiscal.nota_fiscal_itens.each_with_index do |nota_fiscal_item, index| %>
          <tr id="<%= index+1 %>" class="operacao">
            <td><%= index+1 %></td>
            <td><input class="form-control" id="<%= index+1 %>-cod_produto" data-behavior="cod_produto" type='text' value="<%= nota_fiscal_item.produto.id %>" style='width: 55px;' name='nota_fiscal[nota_fiscal_item][][cod_produto]'></td>
            <td>
              <%= f.select :descricao,
                Produto.all.reorder("descricao asc").collect { |produto| [produto.descricao, produto.id] },
                {:selected => nota_fiscal_item.produto.id },
                {:class=> 'form-control', name: 'nota_fiscal[nota_fiscal_item][][descricao]', onclick: "atualizaProduto()", id: "#{index+1}-descricao"} 
              %> 
            </td>
            <td><input class='form-control' id='<%= index+1 %>-cfop' type='text' style='width: 65px;' data-behavior='cfop' value='<%= nota_fiscal_item.cfop %>' name='nota_fiscal[nota_fiscal_item][][cfop]'></td>
            <td><input class='form-control' id='<%= index+1 %>-ncm' type='text' value='<%= nota_fiscal_item.ncm %>'  name='nota_fiscal[nota_fiscal_item][][ncm]'></td></td>
            <td><input class='form-control' id='<%= index+1 %>-un' type='text' value='<%= nota_fiscal_item.unidade %>' style='width: 50px;' name='nota_fiscal[nota_fiscal_item][][un]'></td></td>
            <td><input class='form-control' id='<%= index+1 %>-qtd' type='text' value='<%= nota_fiscal_item.quantidade %>' style='width: 55px;' data-behavior='qtd' name='nota_fiscal[nota_fiscal_item][][qtd]'></td></td>
            <td><input class='form-control' id='<%= index+1 %>-preco_unitario' type='text' value='R$ <%= nota_fiscal_item.preco_unitario %>0' style='70px;' name='nota_fiscal[nota_fiscal_item][][preco_unitario]'></td></td>
            <td><input class='form-control' id='<%= index+1 %>-preco_total' type='text' value='R$ <%= nota_fiscal_item.preco_total %>0' data-behavior='preco_total' style="width: 90px;" name='nota_fiscal[nota_fiscal_item][][preco_total]'></td></td>
            <td><button type='button' id='<%= index+1 %>-delete' data-behavior='delete' class='btn btn-danger delete'>x</button></td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <div class="form-group">
    <div class="col-sm-6"></div>
    <div class="col-sm-6" style="text-align:end">
     <p><b>VALOR TOTAL:<b></p>
     <p class="valor-total" style="font-size: 30px"></p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('body').on('click', '.delete', function() {
    var $tr = $(this).closest('tr');
    $tr.remove();
    calculoValorTotal()
  });

  $(document).ready(function() {
    $(window).keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });

    addProduto()
  });

  
  $(document).on('keyup', '[data-behavior~=cod_produto]', function(event) {
    const number_tr = parseInt(event.target.id.match(/\d+/)[0])
    const val = parseInt($(`#${number_tr}-cod_produto`).val())
    $(`#${number_tr}-descricao`).val(`${val}`)
  });

  $(document).on('keyup', '[data-behavior~=qtd]', function(event) {
    const number_tr = parseInt(event.target.id.match(/\d+/)[0])
    const preco_unitario = parseInt($(`#${number_tr}-preco_unitario`).val().match(/\d+/)[0])
    const qtd = parseInt($(`#${number_tr}-qtd`).val())
    const total = qtd * preco_unitario

    if(total){
      $(`#${number_tr}-preco_total`).val(`R$ ${total.toFixed(2)}`)
    }

    calculoValorTotal()
  });

  $(document).on('keyup', '[data-behavior~=delete]', function(event) {
    const number_tr = parseInt(event.target.id.match(/\d+/)[0])
    const nextId = number_tr + 1
    const cod_produto_next = $(`#${nextId}-cod_produto`).val()

    if(!cod_produto_next && cod_produto_next == null && cod_produto_next != ""){
      if(event.keyCode == 9) {
        addProduto()
      }
    }
  });

  $(document).on('keyup', '[data-behavior~=cfop]', function(event) {
    atualizaProduto()
  });

  

  const addProduto = () =>{
    var clica = setInterval(function(){
      clearInterval(clica);
      var table = $('.jsDinamicTable_nota_fiscal_id_<%= @nota_fiscal.id %>');
      var body = $('#tableBody_nota_fiscal_id_<%= @nota_fiscal.id %>');
      var nextId = body.find('tr').length + 1;
      table.append(
        $(
        "<tr id='"+nextId+"' class='operacao' >"+ 
          "<td>"+nextId+"</td>"+
          "<td><input class='form-control' id='"+nextId+"-cod_produto' data-behavior='cod_produto' type='text' style='width: 55px;' name='nota_fiscal[nota_fiscal_item][][cod_produto]'></td>" +
          "<td><select class='form-control' id='"+nextId+"-descricao' style='margin: 0px; height: 36px; width: 415px;' onclick='atualizaProduto()' name='nota_fiscal_item[descricao]' id='nota_fiscal_item_descricao'></select></td>" +
          "<td><input class='form-control' id='"+nextId+"-cfop' type='text' style='width: 65px;' data-behavior='cfop' value='<%= @nota_fiscal.cfop.codigo %>' name='nota_fiscal[nota_fiscal_item][][cfop]'></td>" +
          "<td><input class='form-control' id='"+nextId+"-ncm' type='text' name='nota_fiscal[nota_fiscal_item][][ncm]'></td>" +
          "<td><input class='form-control' id='"+nextId+"-un' type='text' style='width: 50px;' name='nota_fiscal[nota_fiscal_item][][un]'></td>" +
          "<td><input class='form-control' id='"+nextId+"-qtd' type='text' style='width: 55px;' data-behavior='qtd' name='nota_fiscal[nota_fiscal_item][][qtd]'></td>" +
          "<td><input class='form-control' id='"+nextId+"-preco_unitario' style='70px;' type='text' name='nota_fiscal[nota_fiscal_item][][preco_unitario]'></td>" +
          "<td><input class='form-control' id='"+nextId+"-preco_total' type='text' data-behavior='preco_total' style='width: 90px;' name='nota_fiscal[nota_fiscal_item][][preco_total]'></td>" +
          "<td><button type='button' id='"+nextId+"-delete' data-behavior='delete' class='btn btn-danger delete'>x</button></td>" +
        "</tr>"
        )
      );

      $.ajax({
        type: "GET",
        url: `/produtos.json`,
        success: function(produtos){
          if(produtos){
            $(`#${nextId}-descricao`).append(`<option value=""></option>`);
            produtos.forEach(produto => {
              $(`#${nextId}-descricao`).append(`<option value="${produto.id}">${produto.descricao}</option>`);
            });
          }

          $("#"+nextId+"-cod_produto").parent().find(".tabledit-edit-button").trigger("click");
          calculoValorTotal()
        }
      })

    }, 100);
  }

  const calculoValorTotal = () =>{
    let valorTotal = 0
    $("input[data-behavior~=preco_total]").each(function(){
      try {
        var input = $(this);
        var valor = input.val().match(/\d+/)[0]
        if(valor){
          valorTotal += parseInt(valor)
        }
      } catch (error) {
        console.log('error :>> ', error);
      }
    });

    $(`.valor-total`).html(`R$ ${valorTotal}.00`);
  }

  const atualizaProduto = () =>{
    const number_tr = parseInt(event.target.id.match(/\d+/)[0])
    const val = $(`#${number_tr}-descricao`).val()
    $(`#${number_tr}-cod_produto`).val(`${val}`)

    $.ajax({
      type: "GET",
      url: `/produtos/${val}.json`,
      success: function(produto){
        if(produto){
          $(`#${number_tr}-ncm`).val(produto.ncm);
          $(`#${number_tr}-un`).val(produto.unidade);
          $(`#${number_tr}-qtd`).val("1.0");
          $(`#${number_tr}-preco_unitario`).val("R$ "+produto.preco_custo + ".00");
          $(`#${number_tr}-preco_total`).val("R$ "+produto.preco_custo + ".00");

          calculoValorTotal()
        }
      }
    })
  }

  
</script>
