<style>
.table-nota {display: none;}
.form-control {text-align: center;}
.form-produtos-itens{margin: 0px; height: 36px; width: 400px; text-align: inherit;}
.table-overflow-auto{ max-height: 300px; overflow: auto;}
</style>

<%= form_for([@nota_fiscal, @nota_fiscal_item], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <div class="form-group">
    <div class="col-sm-12">
      <label class="control-label">
        Nota Fiscal Nº : 
        <span style="font-size:2rem"><%= @nota_fiscal.numero_nota %></span>
      </label>
    </div>
  </div>

  <br>

  <div id="loader"></div>

  <div class="table-nota">
    <div class="table-responsive animate-bottom">
      <table class="table table-hover table-striped user-select-none dinamicTable jsDinamicTable_nota_fiscal_id_<%= @nota_fiscal.id %>">
        <thead>
          <tr>
            <th></th>
            <th>Código</th>
            <th>Descrição</th>
            <th>NCM</th>
            <th>Un</th>
            <th>Qtde</th>
            <th>Preço Unitário</th>
            <th>Preço Total</th>
            <th></th>
          </tr>
        </thead>

        <tbody id="tableBody_nota_fiscal_id_<%= @nota_fiscal.id %>">
          <% @nota_fiscal.nota_fiscal_itens.each_with_index do |nota_fiscal_item, index| %>
            <tr id="<%= index+1 %>" class="operacao">
              <td><%= index+1 %></td>
              <td><input class="form-control" id="<%= index+1 %>-cod_produto" data-behavior="cod_produto" type='text' value="<%= nota_fiscal_item.produto.id %>" style='width: 55px;' name='nota_fiscal[nota_fiscal_item][][cod_produto]'></td>
              <td>
                <%= f.select :descricao,
                  Produto.all.reorder("descricao asc").collect { |produto| [produto.descricao, produto.id] },
                  {:selected => nota_fiscal_item.produto.id },
                  {:class=> 'form-control form-produtos-itens', name: 'nota_fiscal[nota_fiscal_item][][descricao]', onclick: "atualizaProduto()", id: "#{index+1}-descricao"} 
                %> 
              </td>
              <td><input class='form-control' id='<%= index+1 %>-ncm'            type='text' value='<%= nota_fiscal_item.ncm %>'                                name='nota_fiscal[nota_fiscal_item][][ncm]'    readonly                                                        ></td>
              <td><input class='form-control' id='<%= index+1 %>-un'             type='text' value='<%= nota_fiscal_item.unidade %>'                            name='nota_fiscal[nota_fiscal_item][][un]'    readonly         style='width: 70px;'                            ></td>
              <td><input class='form-control' id='<%= index+1 %>-qtd'            type='number' value='<%= formatar_qtd(nota_fiscal_item.quantidade) %>'           name='nota_fiscal[nota_fiscal_item][][qtd]'            style='width: 70px;' min="0" data-behavior='qtd'        ></td>
              <td><input class='form-control' id='<%= index+1 %>-preco_unitario' type='text' value='<%= number_to_currency(nota_fiscal_item.preco_unitario) %>' name='nota_fiscal[nota_fiscal_item][][preco_unitario]' readonly style='width: 95px;' data-behavior='preco_unitario'></td>
              <td><input class='form-control' id='<%= index+1 %>-preco_total'    type='text' value='<%= number_to_currency(nota_fiscal_item.preco_total) %>'    name='nota_fiscal[nota_fiscal_item][][preco_total]'   readonly style="width: 110px;" data-behavior='preco_total'></td>
              <td><button type='button' id='<%= index+1 %>-delete' data-behavior='delete' class='btn btn-danger delete'>x</button></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <br>

    <div class="form-group">
      <div class="col-sm-6"></div>
      <div class="col-sm-6" style="text-align:end">
      <p><b>Valor Total:<b></p>
      <p class="valor-total" style="font-size: 30px"></p>
      </div>
    </div>

    <div class="row form-group" style="display: none;">
      <div class="col-md-12">
        <%= text_field_tag :movimentos, " "%>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <%= link_to "Salvar", 'javascript:;', class: "btn btn-primary", onclick: "buscarMovimentoEstoque()" %>
      </div>
    </div>
  </div>
<% end %>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div>
      <h3>Produto: <span class="descricaoProd"></span></h3>
      <h4>Quantidade: <span class="qtdProd"></span></h4>
      <hr>
      <div class="table-overflow-auto">
        <table class="table table-hover table-striped table-bordered user-select-none dinamicTable jsDinamicTable_estoque">
          <thead>
            <tr>
              <th>Lote</th>
              <th>Validade</th>
              <th>Estoque</th>
              <th>Baixar</th>
              <th>Total</th>
            </tr>
          </thead>

          <tbody id="tableBody_estoque">
          </tbody>
        </table>
      </div>
      <br>

      <a href="javascript:;" class="btn btn-primary" onclick="salvarMovimentoEstoque()">Salvar</a>
    </div>
  </div>
</div>

<%= render 'script' %>