<%= form_for([@orcamento, @orcamento_item], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <div class="form-group">
    <div class="col-sm-12">
      <label class="control-label">Nº Orçamento: </label>
      <h3><%= @orcamento.id %></h3>
    </div>
  </div>

  <br>

  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered user-select-none dinamicTable jsDinamicTable_orcamento_id_<%= @orcamento.id %>">
      <thead>
        <tr>
          <th></th>
          <th>Código</th>
          <th>Descrição</th>
          <th>Un</th>
          <th>Qtd</th>
          <th>Preço Unitário</th>
          <th>Preço Total</th>
          <th></th>
        </tr>
      </thead>

      <tbody id="tableBody_orcamento_id_<%= @orcamento.id %>">
        <% @orcamento.orcamento_itens.each_with_index do |orcamento_item, index| %>
          <tr id="<%= index+1 %>" class="operacao">
            <td><%= index+1 %></td>
            <td><input class="form-control" id="<%= index+1 %>-cod_produto" data-behavior="cod_produto" type='text' value="<%= orcamento_item.produto.id %>" style='width: 55px;' name='orcamento[orcamento_item][][cod_produto]'></td>
            <td>
              <%= f.select :descricao,
                Produto.all.reorder("descricao asc").collect { |produto| [produto.descricao, produto.id] },
                {:selected => orcamento_item.produto.id },
                {:class=> 'form-control', name: 'orcamento[orcamento_item][][descricao]', onclick: "atualizaProduto()", id: "#{index+1}-descricao"} 
              %> 
            </td>
            <td><input class='form-control' id='<%= index+1 %>-un' type='text' value='<%= orcamento_item.unidade %>' style='width: 50px;' name='orcamento[orcamento_item][][un]'></td></td>
            <td><input class='form-control' id='<%= index+1 %>-qtd' type='text' value='<%= orcamento_item.quantidade %>' style='width: 55px;' data-behavior='qtd' name='orcamento[orcamento_item][][qtd]'></td></td>
            <td><input class='form-control' id='<%= index+1 %>-preco_unitario' type='text' value='R$ <%= number_to_currency(orcamento_item.preco_unitario) %>0' style='70px;' name='orcamento[orcamento_item][][preco_unitario]'></td></td>
            <td><input class='form-control' id='<%= index+1 %>-preco_total' type='text' value='R$ <%= orcamento_item.preco_total %>0' data-behavior='preco_total' style="width: 90px;" name='orcamento[orcamento_item][][preco_total]'></td></td>
            
            <td><input class='form-control' id='<%= index+1 %>-preco_unitario' type='text' value='<%= number_to_currency(nota_fiscal_item.preco_unitario) %>' name='nota_fiscal[nota_fiscal_item][][preco_unitario]' readonly style='width: 95px;' data-behavior='preco_unitario'></td>
            <td><input class='form-control' id='<%= index+1 %>-preco_total'    type='text' value='<%= number_to_currency(nota_fiscal_item.preco_total) %>'    name='nota_fiscal[nota_fiscal_item][][preco_total]'   readonly style="width: 110px;" data-behavior='preco_total'></td>
            
            <td><button type='button' id='<%= index+1 %>-delete' data-behavior='delete' class='btn btn-danger delete'>x</button></td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <div class="form-group">
    <div class="col-sm-6"></div>
    <div class="col-sm-6" style="text-align:end">
     <p><b>Valor Total:<b></p>
     <p class="valor-total" style="font-size: 30px"></p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= render 'script' %>
