<%= form_for([@orcamento, @orcamento_item], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <div class="form-group">
    <div class="col-sm-12">
      <label class="control-label">Nº Orçamento: </label>
      <h3><%= @orcamento.id %></h3>
    </div>
  </div>

  <br>

  <div class="table-responsive">
    <table class="table table-hover table-striped user-select-none dinamicTable jsDinamicTable_orcamento_id_<%= @orcamento.id %>">
      <thead>
        <tr>
          <th></th>
          <th>Código</th>
          <th>Descrição</th>
          <th>Quantidade</th>
          <th>Preço Unitário</th>
          <th>Preço Total</th>
          <th></th>
        </tr>
      </thead>

      <tbody id="tableBody_orcamento_id_<%= @orcamento.id %>">
        <% @orcamento.orcamento_itens.each_with_index do |orcamento_item, index| %>
          <tr id="<%= index+1 %>" class="operacao">
            <td><%= index+1 %></td>
            <td><input class="form-control" id="<%= index+1 %>-cod_produto" data-behavior="cod_produto" type='text' value="<%= orcamento_item.produto.id %>" style='width: 55px;' name='orcamento[orcamento_item][][cod_produto]'></td>
            <td>
              <%= f.select :descricao,
                Produto.all.reorder("descricao asc").collect { |produto| [produto.descricao, produto.id] },
                {:selected => orcamento_item.produto.id },
                {:class=> 'form-control', name: 'orcamento[orcamento_item][][descricao]', onclick: "atualizaProduto()", id: "#{index+1}-descricao"} 
              %> 
            </td>
            <td><input class='form-control' id='<%= index+1 %>-qtd'            type='number' value='<%= formatar_qtd(orcamento_item.quantidade) %>'           name='orcamento[orcamento_item][][qtd]'            style='width: 70px;' min="0" data-behavior='qtd'        ></td>
          
            <td><input class='form-control' id='<%= index+1 %>-preco_unitario' type='text' value='<%= number_to_currency(orcamento_item.preco_unitario) %>' name='orcamento[orcamento_item][][preco_unitario]' readonly style='width: 95px;' data-behavior='preco_unitario'></td>
            <td><input class='form-control' id='<%= index+1 %>-preco_total'    type='text' value='<%= number_to_currency(orcamento_item.preco_total) %>'    name='orcamento[orcamento_item][][preco_total]'   readonly style="width: 110px;" data-behavior='preco_total'></td>
            
            <td><button type='button' id='<%= index+1 %>-delete' data-behavior='delete' class='btn btn-danger delete'>x</button></td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <div class="form-group">
    <div class="col-sm-6"></div>
    <div class="col-sm-6" style="text-align:end">
     <p><b>Valor Total:<b></p>
     <p class="valor-total" style="font-size: 30px"></p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= render 'script' %>
