<%= form_for(@cfop, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @cfop.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4>Confira os campos abaixo:</h4>

      <ul>
      <% @cfop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ibox-content">
    <div class="row form-group">
      <% unless @cfop.id %>
        <div class="col-md-2">
          <label class="control-label">CFOP Dentro UF</label>
          <input class="form-control" type="text" name="codigo[cfop_de]">
        </div>

        <div class="col-md-2">
          <label class="control-label">CFOP Dentro UF (ST)</label>
          <input class="form-control" type="text" name="codigo[cfop_st_de]">
        </div>

        <div class="col-md-2">
          <label class="control-label">CFOP Fora UF</label>
          <input class="form-control" type="text" name="codigo[cfop_fe]">
        </div>

        <div class="col-md-2">
          <label class="control-label">CFOP Fora UF (ST)</label>
          <input class="form-control" type="text" name="codigo[cfop_fe_st]">
        </div>
      <% else %>
        <div class="col-md-2">
          <%= f.label :codigo, 'Código' %>
          <%= f.text_field :codigo, class: "form-control" %>
        </div>

        <div class="col-md-2">
          <%= f.label :informativo, 'Informativo' %>
          <%= f.text_field :informativo, class: "form-control" %>
        </div>    
      <% end %>   
    </div>        

    <div class="row form-group">
        <div class="col-md-12">
          <%= f.label :descricao, 'Descrição' %>
          <%= f.text_field :descricao, class: "form-control" %>
        </div>
    </div>   

    <div class="row form-group">
        <div class="col-md-11">
          <%= f.label :natureza_operacao, 'Natureza Operação' %>
          <%= f.text_field :natureza_operacao, class: "form-control" %>
        </div>

        <div class="col-md-1">
          <%= f.label :operacao, 'Operação' %>
          <%= f.text_field :operacao, class: "form-control" %>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-2">
          <%= f.label :nota_complementar_impostos_sn, 'Cpl Impostos ?' %>
          <%= f.select(:nota_complementar_impostos_sn, options_for_select([['NÃO', 'N'], ['SIM', 'S']]), {}, {class: "form-control"}) %>
        </div>         

        <div class="col-md-2">
          <%= f.label :entrada_saida_es, 'Entrada/Saída' %>
          <%= f.select(:entrada_saida_es, options_for_select([['Saída', 'N'], ['Entrada', 'E']]), {}, {class: "form-control"}) %>
        </div>

        <div class="col-md-2">
          <%= f.label :cliente_fornecedor_cf, 'Cliente/Fornecedor' %>
          <%= f.select(:cliente_fornecedor_cf, options_for_select([['Cliente', 'C'], ['Fornecedor', 'F']]), {}, {class: "form-control"}) %>
        </div>

        <div class="col-md-2">
          <%= f.label :calcular_impostos_sn, 'Calcular Impostos' %>
          <%= f.select(:calcular_impostos_sn, options_for_select([['NÃO', 'N'], ['SIM', 'S']]), {}, {class: "form-control"}) %>
        </div>

        <div class="col-md-2">
          <%= f.label :faturamento_sn, 'Faturamento' %>
          <%= f.select(:faturamento_sn, options_for_select([['SIM', 'S'], ['NÃO', 'N']]), {}, {class: "form-control"}) %>
        </div>         
    </div>        

    <div class="row form-group">
        <div class="col-md-12">
          <%= f.label :observacao, 'Observação' %>
          <%= f.text_area :observacao, class: "form-control" %>
        </div>
    </div>
  </div>

<div class="form-group">
  <div class="form-group">
    <div class="col-sm-2 col-sm-10">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<script>
//Bloqueia a tecla Enter no campo de Input
$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});

</script>
