<h1>CFOP</h1>

<div class="page-header">
  <%= link_to new_cfop_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo
  <% end %>
  <h2>Lista</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Cfop de</th>
            <th>Cfop st de</th>
            <th>Cfop fe</th>
            <th>Cfop st fe</th>
            <th>Descricao</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @cfop) do |cfop| %>
            <td><%= cfop.cfop_de %></td>
            <td><%= cfop.cfop_st_de %></td>
            <td><%= cfop.cfop_fe %></td>
            <td><%= cfop.cfop_st_fe %></td>
            <td><%= cfop.descricao %></td>
            <td><%= link_to 'Mostrar', cfop %></td>
        <td><%= link_to 'Editar', edit_cfop_path(cfop) %></td>
        <td><%= link_to 'Apagar', cfop, method: :delete, data: { confirm: 'Confirma ?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
