<h2>CFOP</h2>

<div class="page-header">
  <%= link_to new_cfop_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo
  <% end %>
  <h2>Lista</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Código</th>
        <th>Informativo</th>
        <th>Descrição</th>
        <th>Natureza Operacao</th>
        <th>Operacao</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @cfop) do |cfop| %>
        <td><%= cfop.codigo %></td>
        <td><%= cfop.informativo %></td>
        <td><%= cfop.descricao %></td>
        <td><%= cfop.natureza_operacao %></td>
        <td><%= cfop.operacao %></td>
        <td><%= link_to 'Mostrar', cfop %></td>
        <td><%= link_to 'Editar', edit_cfop_path(cfop) %></td>
        <td><%= link_to 'Apagar', cfop, method: :delete, data: { confirm: 'Confirma ?' } %></td>
      <% end %>
    </tbody>
  </table>

  <div class="apple_pagination">
    <%= will_paginate @cfop, :container => false %>
  </div>    
</div>
