<div class="page-header">
  <%= link_to new_fornecedor_contato_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Fornecedor contato
  <% end %>
  <h1>Lista</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Fornecedor</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @fornecedor_contatos) do |fornecedor_contato| %>
            <td><%= fornecedor_contato.fornecedor %></td>
            <td><%= fornecedor_contato.nome %></td>
            <td><%= fornecedor_contato.telefone %></td>
            <td><%= fornecedor_contato.email %></td>
            <td><%= link_to 'Mostrar', fornecedor_contato %></td>
        <td><%= link_to 'Editar', edit_fornecedor_contato_path(fornecedor_contato) %></td>
        <td><%= link_to 'Apagar', fornecedor_contato, method: :delete, data: { confirm: 'Confirma ?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
