<div class="page-header">
  <%= link_to contas_pagar_parcelas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_contas_pagar_parcela_path(@contas_pagar_parcela), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar</h1>
</div>

<dl class="dl-horizontal">
  <dt>Contas pagar:</dt>
  <dd><%= @contas_pagar_parcela.contas_pagar %></dd>
  <dt>Data vencimento:</dt>
  <dd><%= @contas_pagar_parcela.data_vencimento %></dd>
  <dt>Data pagamento:</dt>
  <dd><%= @contas_pagar_parcela.data_pagamento %></dd>
  <dt>Valor parcela:</dt>
  <dd><%= @contas_pagar_parcela.valor_parcela %></dd>
  <dt>Valor juros desconto:</dt>
  <dd><%= @contas_pagar_parcela.valor_juros_desconto %></dd>
  <dt>Documento:</dt>
  <dd><%= @contas_pagar_parcela.documento %></dd>
  <dt>Descricao:</dt>
  <dd><%= @contas_pagar_parcela.descricao %></dd>
</dl>
