<h1><%=params[:controller].capitalize %></h1>

<div class="page-header">
  <%= link_to new_terceiro_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo
  <% end %>
  <h2>Lista</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nome</th>
            <th>Pessoa</th>
            <th>Cpf</th>
            <th>Rg</th>
            <th>Cnpj</th>
            <th>Ie</th>
            <th>Endereco</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Cep</th>
            <th>Uf</th>
            <th>Telefone</th>
            <th>Email</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @terceiros) do |terceiro| %>
            <td><%= terceiro.nome %></td>
            <td><%= terceiro.pessoa %></td>
            <td><%= terceiro.cpf %></td>
            <td><%= terceiro.rg %></td>
            <td><%= terceiro.cnpj %></td>
            <td><%= terceiro.ie %></td>
            <td><%= terceiro.endereco %></td>
            <td><%= terceiro.bairro %></td>
            <td><%= terceiro.cidade %></td>
            <td><%= terceiro.cep %></td>
            <td><%= terceiro.uf %></td>
            <td><%= terceiro.telefone %></td>
            <td><%= terceiro.email %></td>
            <td><%= link_to 'Mostrar', terceiro %></td>
        <td><%= link_to 'Editar', edit_terceiro_path(terceiro) %></td>
        <td><%= link_to 'Apagar', terceiro, method: :delete, data: { confirm: 'Confirma ?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
