<div class="page-header">
  <%= link_to terceiros_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_terceiro_path(@terceiro), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @terceiro.nome %></dd>
  <dt>Pessoa:</dt>
  <dd><%= @terceiro.pessoa %></dd>
  <dt>Cpf:</dt>
  <dd><%= @terceiro.cpf %></dd>
  <dt>Rg:</dt>
  <dd><%= @terceiro.rg %></dd>
  <dt>Cnpj:</dt>
  <dd><%= @terceiro.cnpj %></dd>
  <dt>Ie:</dt>
  <dd><%= @terceiro.ie %></dd>
  <dt>Endereco:</dt>
  <dd><%= @terceiro.endereco %></dd>
  <dt>Bairro:</dt>
  <dd><%= @terceiro.bairro %></dd>
  <dt>Cidade:</dt>
  <dd><%= @terceiro.cidade %></dd>
  <dt>Cep:</dt>
  <dd><%= @terceiro.cep %></dd>
  <dt>Uf:</dt>
  <dd><%= @terceiro.uf %></dd>
  <dt>Telefone:</dt>
  <dd><%= @terceiro.telefone %></dd>
  <dt>Email:</dt>
  <dd><%= @terceiro.email %></dd>
</dl>
