<%= form_for(@icms, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @icms.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4>Confira os campos abaixo:</h4>

      <ul>
      <% @icms.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :estado, 'Estado', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :estado, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :aliquota_icms, '% ICMS Interestadual', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :aliquota_icms, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :aliquota_icms_st, '% ICMS Destino', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :aliquota_icms_st, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mva_icms_st, '% MVA', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :mva_icms_st, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fcp_sn, 'Recolher FCP', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :fcp_sn, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fcp_pc, '% FCP', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :fcp_pc, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<script>
//Bloqueia a tecla Enter no campo de Input
$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});

</script>
