<h2>Alíquotas ICMS</h2>

<div class="page-header">
  <%= link_to new_icms_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo
  <% end %>
  <h2>Lista</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Estado</th>
        <th>Aliquota</th>
        <th>Aliquota Destino</th>
        <th>MVA</th>
        <th>Recolher FCP (S/N)</th>
        <th>% FCP</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @icms) do |icms| %>
        <td><%= icms.estado %></td>
        <td><%= icms.aliquota_icms %></td>
        <td><%= icms.aliquota_icms_st %></td>
        <td><%= icms.mva_icms_st %></td>
        <td><%= icms.fcp_sn %></td>
        <td><%= icms.fcp_pc %></td>
        <td><%= link_to 'Mostrar', icms %></td>
        <td><%= link_to 'Editar', edit_icms_path(icms) %></td>
        <td><%= link_to 'Apagar', icms, method: :delete, data: { confirm: 'Confirma ?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
