<h1>Orçamentos</h1>

<div class="page-header">
  <%= link_to new_orcamento_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo
  <% end %>
  <h2>Lista</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nº Orçamento</th>
        <th>Cliente</th>
        <th>Data emissao</th>
        <th>Valor total</th>
        <th>Situação</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @orcamentos) do |orcamento| %>
        <td><%= orcamento.id %></td>
        <td><%= orcamento.cliente.nome %></td>
        <td><%= orcamento.data_emissao %></td>
        <td><%= orcamento.valor_total %></td>
        <td><%= orcamento.flag %></td>
        <td><%= link_to 'Editar', edit_orcamento_path(orcamento) %></td>
        <td><%= link_to 'Imprimir', orcamento %></td>
        <td><%= link_to 'Cancelar', orcamento %></td>
        <td><%= link_to 'Apagar', orcamento, method: :delete, data: { confirm: 'Confirma ?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
