<div class="page-header">
  <%= link_to orcamentos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_orcamento_path(@orcamento), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar</h1>
</div>

<dl class="dl-horizontal">
  <dt>Cliente:</dt>
  <dd><%= @orcamento.cliente %></dd>
  <dt>Vendedor:</dt>
  <dd><%= @orcamento.vendedor %></dd>
  <dt>Data emissao:</dt>
  <dd><%= @orcamento.data_emissao %></dd>
  <dt>Valor total:</dt>
  <dd><%= @orcamento.valor_total %></dd>
  <dt>Observacao:</dt>
  <dd><%= @orcamento.observacao %></dd>
  <dt>Flag:</dt>
  <dd><%= @orcamento.flag %></dd>
</dl>
