<%= form_for(@fornecedor, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @fornecedor.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@fornecedor.errors.count, "error") %> prohibited this fornecedor from being saved:</h4>

      <ul>
      <% @fornecedor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, 'Nome/Razão Social', class: "col-sm-1 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nome, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :pessoa, 'Pessoa', class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <select class="form-control" name="fornecedor[pessoa]" id="fornecedor_pessoa" onclick="verificaPessoa()">
        <option value=""></option>
        <option <% if @fornecedor.pessoa == 'F' %>selected="selected"<% end %> value="F">FÍSICA</option>
        <option <% if @fornecedor.pessoa == 'J' %>selected="selected"<% end %> value="J">JURÍDICA</option>
      </select>
    </div>
  </div>

  <div class="form-group pessoa-fisica" <% if @fornecedor.pessoa == 'F' %> style="display: block;" <% else %> style="display: none" <% end %>>
    <%= f.label :cpf, 'CPF', class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :cpf, class: "form-control" %>
    </div>
  
    <%= f.label :rg, 'RG', class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :rg, class: "form-control" %>
    </div>
  </div>

  <div class="form-group pessoa-juridica" <% if @fornecedor.pessoa == 'J' %> style="display: block;" <% else %> style="display: none" <% end %>>
    <%= f.label :cnpj, 'CNPJ', class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :cnpj, class: "form-control" %>
    </div>
  
    <%= f.label :ie, 'Inscrição Estadual', class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :ie, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :cep, 'CEP', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :cep, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :endereco, 'Endereço', class: "col-sm-1 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :endereco, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :bairro, 'Bairro', class: "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :bairro, class: "form-control" %>
    </div>
  
    <%= f.label :cidade, 'Cidade', class: "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :cidade, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :codcidade_ibge, 'Código IBGE', class: "col-sm-1 control-label" %>  
    <div class="col-sm-2">
      <%= f.text_field :codcidade_ibge, class: "form-control", disabled: "disable" %>
    </div>

    <%= f.label :uf, 'UF', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :uf, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :telefone, 'Telefone', class: "col-sm-1 control-label" %>
    <div class="col-sm-7">
      <%= f.text_field :telefone, class: "form-control" %>
    </div>
  </div>  

  <div class="form-group">
    <%= f.label :email, 'Email', class: "col-sm-1 control-label" %>
    <div class="col-sm-7">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div> 

  <br><br>

  <h4>Contatos</h4>
  <hr>
  <div id="conteudoContainer">
    <% if @fornecedor.present? %>
      <% @fornecedor.contatos.each do |contato| %>
        <div class="item" style="margin-bottom: 40px">
          <div class="form-group">
            <label class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" value="<%= contato.nome %>" name="fornecedor[contato][][nome]">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" value="<%= contato.email %>" name="fornecedor[contato][][email]">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Telefone</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" value="<%= contato.telefone %>" name="fornecedor[contato][][telefone]">
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="item" style="margin-bottom: 40px">
      <div class="form-group">
        <label class="col-sm-2 control-label">Nome</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="fornecedor[contato][][nome]">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="fornecedor[contato][][email]">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Telefone</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="fornecedor[contato][][telefone]">
        </div>
      </div>
    </div>
  </div>

  <div class="form-group" style="text-align: right;">
    <a href="javascript:;" onclick="app.contas_pag.mais();" class="btn btn-primary">Mais</a>
  </div>

  <hr>

  <div class="form-group">
    <div class="col-sm-1">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<div id="conteudoContainerTemplate" style="display: none">
  <div class="item" style="margin-bottom: 40px">
    <div class="form-group">
      <label class="col-sm-2 control-label">Nome</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="fornecedor[contato][][nome]">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="fornecedor[contato][][email]">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Telefone</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="fornecedor[contato][][telefone]">
      </div>
    </div>
  </div>
</div>

<script>
//Bloqueia a tecla Enter no campo de Input
$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});

const verificaPessoa = () =>{
  const selectElement = document.getElementById("fornecedor_pessoa")
  var codigo_pessoa = selectElement.value

  if(codigo_pessoa == "F"){
    $('.pessoa-fisica').show()
    $('.pessoa-juridica').hide()
  }else{
    $('.pessoa-fisica').hide()
    $('.pessoa-juridica').show()
  }
}

$("#fornecedor_endereco").focus(function(){
  let cep = $('#fornecedor_cep').val()

  $.ajax({
    type: "GET",
    url: "https://viacep.com.br/ws/" + cep + "/json/",
    success: function(data){
      if(data.logradouro){
        $('#fornecedor_endereco').val(data.logradouro);
        $('#fornecedor_bairro').val(data.bairro);
        $('#fornecedor_cidade').val(data.localidade);
        $('#fornecedor_uf').val(data.uf);
        $('#fornecedor_codcidade_ibge').val(data.ibge);
      }
    }
  })
});
  
</script>