<h2>Localização Estoque</h2>

<div class="page-header">
  <%= link_to localizacao_estoques_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_localizacao_estoque_path(@localizacao_estoque), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h2>Mostrar</h2>
</div>

<dl class="dl-horizontal">
  <dt>Id:</dt>
  <dd><%= @localizacao_estoque.id %></dd>
  <dt>Local:</dt>
  <dd><%= @localizacao_estoque.local %></dd>
  <dt>Observacao:</dt>
  <dd><%= @localizacao_estoque.observacao %></dd>
</dl>
