<%= form_for(@produto, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @produto.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@produto.errors.count, "error") %> prohibited this produto from being saved:</h4>

      <ul>
      <% @produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ibox-content">
      <form role="form" class="form-inline">
          <div class="row form-group">
              <div class="col-md-2">
                <%= f.label :situacao, 'Situação' %>
                <%= f.select(:situacao, options_for_select([['ATIVO', 1], ['INATIVO', 2]]), {}, {class: "form-control"}) %>
              </div>
       
              <div class="col-md-2">
                <%= f.label :data_inativo, 'Data Inativo' %>
                <%= f.datetime_field :data_inativo, class: "form-control" %>
              </div>

              <div class="col-md-8">
                <%= f.label :descricao, 'Descrição' %>
                <%= f.text_field :descricao, class: "form-control" %>
              </div>
          </div>        

          <div class="row form-group">
              <div class="col-md-12">
                <%= f.label :descricao_nfe, 'Descrição NF-e' %>
                <%= f.text_field :descricao_nfe, class: "form-control" %>
              </div>
          </div>
    
          <div class="row form-group">
              <div class="col-md-4">
                <%= f.label :codigo_barras, 'Código Barras' %>
                <%= f.text_field :codigo_barras, class: "form-control" %>
              </div>

              <div class="col-md-4">
                <%= f.label :localizacao_estoque, 'Local Estoque' %>
                <%= f.text_field :localizacao_estoque, class: "form-control" %>
              </div>
          </div>
        
          <div class="row form-group">
              <div class="col-md-3">
                <%= f.label :unidade, 'Unidade' %>
                <%= f.text_field :unidade, class: "form-control" %>
              </div>

              <div class="col-md-3">
                <%= f.label :embalagem, 'Quantidade Embalagem' %>
                <%= f.text_field :embalagem, class: "form-control" %>
              </div>             

              <div class="col-md-3">
                <%= f.label :ncm, 'Código NCM' %>
                <%= f.text_field :ncm, class: "form-control" %>
              </div>

              <div class="col-md-3">
                <%= f.label :situacao_tributaria, 'Situação Tributária' %>
                <%= f.text_field :situacao_tributaria, class: "form-control" %>
              </div>
          </div>        
        
          <div class="row form-group">
              <div class="col-md-3">
                <%= f.label :controlar_estoque, 'Controlar Estoque ?' %>               
                <%= f.select(:controlar_estoque, options_for_select([['SIM', 1], ['NÃO', 2]]), {}, {class: "form-control"}) %>
              </div>

              <div class="col-md-3">
                <%= f.label :por_lote, 'Controlar Lote ?' %>
                <%= f.select(:por_lote, options_for_select([['SIM', 1], ['NÃO', 2]]), {}, {class: "form-control"}) %>
              </div>

              <div class="col-md-3">
                <%= f.label :data_ultima_reposicao, 'Data Última Reposição' %>
                <%= f.datetime_field :data_ultima_reposicao, class: "form-control" %>
              </div>

              <div class="col-md-3">
                <%= f.label :data_ultimo_reajuste, 'Data Último Reajuste' %>
                <%= f.datetime_field :data_ultimo_reajuste, class: "form-control" %>
              </div>
          </div>
        
          <div class="row form-group">
              <div class="col-md-4">
                <%= f.label :bloquear_preco, 'Bloquear Preço no Pedido ?' %>
                <%= f.select(:bloquear_preco, options_for_select([['SIM', 1], ['NÃO', 2]]), {}, {class: "form-control"}) %>
              </div>

              <div class="col-md-4">
                <%= f.label :preco_custo, 'Preço Custo' %>
                <%= f.text_field :preco_custo, class: "form-control", disabled: "disable" %>
              </div>

              <div class="col-md-4">
                <%= f.label :preco_custo_medio, 'Preço Custo Médio' %>
                <%= f.text_field :preco_custo_medio, class: "form-control" %>
              </div>             
          </div>        
       
          <div class="row form-group">
              <div class="col-md-3">
                <%= f.label :margem_lucro, 'Margem Lucro (%)' %>
                <%= f.text_field :margem_lucro, class: "form-control" %>
              </div>

              <div class="col-md-3">
                <%= f.label :preco_venda, 'Preço Venda' %>
                <%= f.text_field :preco_venda, class: "form-control" %>
              </div>

              <div class="col-md-3">              
                <%= f.label :margem_lucro_oferta, 'Margem Lucro Oferta (%)' %>
                <%= f.text_field :margem_lucro_oferta, class: "form-control" %>
              </div>

              <div class="col-md-3">          
                <%= f.label :preco_oferta, 'Preço Venda Oferta' %>
                <%= f.text_field :preco_oferta, class: "form-control" %>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-4">
              <%= f.label :data_inicial_oferta, 'Data Inicial OFerta' %>
              <%= f.datetime_field :data_inicial_oferta, class: "form-control" %>
            </div>

            <div class="col-md-4">
              <%= f.label :data_final_oferta, 'Data Final Oferta' %>
              <%= f.datetime_field :data_final_oferta, class: "form-control" %>
            </div>

            <div class="col-md-4">
              <%= f.label :comissao_pc, 'Comissão (%)' %>
              <%= f.text_field :comissao_pc, class: "form-control" %>
            </div>             
          </div>    
      </form>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-2">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
