<div class="page-header">
  <%= link_to new_produto_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Produto
  <% end %>
  <h1>Lista</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Localizacao estoque</th>
            <th>Situacao</th>
            <th>Data inativo</th>
            <th>Descricao</th>
            <th>Descricao nfe</th>
            <th>Codigo barras</th>
            <th>Ncm</th>
            <th>Situacao tributaria</th>
            <th>Unidade</th>
            <th>Embalagem</th>
            <th>Controlar estoque</th>
            <th>Por lote</th>
            <th>Bloquear preco</th>
            <th>Data ultima reposicao</th>
            <th>Data ultimo reajuste</th>
            <th>Preco custo</th>
            <th>Preco custo medio</th>
            <th>Margem lucro</th>
            <th>Preco venda</th>
            <th>Preco oferta</th>
            <th>Margem lucro oferta</th>
            <th>Data inicial oferta</th>
            <th>Data final oferta</th>
            <th>Comissao pc</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @produtos) do |produto| %>
            <td><%= produto.localizacao_estoque %></td>
            <td><%= produto.situacao %></td>
            <td><%= produto.data_inativo %></td>
            <td><%= produto.descricao %></td>
            <td><%= produto.descricao_nfe %></td>
            <td><%= produto.codigo_barras %></td>
            <td><%= produto.ncm %></td>
            <td><%= produto.situacao_tributaria %></td>
            <td><%= produto.unidade %></td>
            <td><%= produto.embalagem %></td>
            <td><%= produto.controlar_estoque %></td>
            <td><%= produto.por_lote %></td>
            <td><%= produto.bloquear_preco %></td>
            <td><%= produto.data_ultima_reposicao %></td>
            <td><%= produto.data_ultimo_reajuste %></td>
            <td><%= produto.preco_custo %></td>
            <td><%= produto.preco_custo_medio %></td>
            <td><%= produto.margem_lucro %></td>
            <td><%= produto.preco_venda %></td>
            <td><%= produto.preco_oferta %></td>
            <td><%= produto.margem_lucro_oferta %></td>
            <td><%= produto.data_inicial_oferta %></td>
            <td><%= produto.data_final_oferta %></td>
            <td><%= produto.comissao_pc %></td>
            <td><%= link_to 'Mostrar', produto %></td>
        <td><%= link_to 'Editar', edit_produto_path(produto) %></td>
        <td><%= link_to 'Apagar', produto, method: :delete, data: { confirm: 'Confirma ?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
