<h3>Vendedores</h3>

<div class="page-header">
  <%= link_to new_vendedor_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo
  <% end %>
  <h3>Lista</h3>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Email</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @vendedores) do |vendedor| %>
        <td><%= vendedor.nome %></td>
        <td><%= vendedor.telefone %></td>
        <td><%= vendedor.email %></td>
        <td><%= link_to 'Mostrar', vendedor %></td>
        <td><%= link_to 'Editar', edit_vendedor_path(vendedor) %></td>
        <td><%= link_to 'Apagar', vendedor, method: :delete, data: { confirm: 'Confirma ?' } %></td>
      <% end %>
    </tbody>
  </table>

  <div class="apple_pagination">
    <%= will_paginate @vendedores, :container => false %>
  </div>    
</div>
