<div class="page-header">
  <%= link_to new_contas_pag_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Contas pagar
  <% end %>
  <h1>Lista de Contas pagar</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Fornecedor</th>
        <th>Plano conta</th>
        <th>Documento</th>
        <th>Historico</th>
        <th>Data emissao</th>
        <th>Valor total</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @contas_pag) do |contas_pagar| %>
            <td><%= contas_pagar.fornecedor.nome %></td>
            <td><%= contas_pagar.plano_conta.conta %></td>
            <td><%= contas_pagar.documento %></td>
            <td><%= contas_pagar.historico %></td>
            <td><%= contas_pagar.data_emissao %></td>
            <td><%= contas_pagar.valor_total %></td>
            <td><%= link_to 'Mostrar', contas_pagar %></td>
        <td><%= link_to 'Editar', edit_contas_pag_path(contas_pagar) %></td>
        <td><%= link_to 'Apagar', contas_pagar, method: :delete, data: { confirm: 'Confirma ?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
