<%= form_for(@empresa, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @empresa.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4>Confira os campos abaixo:</h4>

      <ul>
      <% @empresa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, 'Razão Social', class: "col-sm-1 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nome, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :nome_fantasia, 'Nome Fantasia', class: "col-sm-1 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nome_fantasia, class: "form-control" %>
    </div>
  </div> 

  <div class="form-group">
    <%= f.label :cnpj, 'CNPJ', class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :cnpj, class: "form-control" %>
    </div>

    <%= f.label :inscricao_estadual, 'Inscrição Estadual', class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :inscricao_estadual, class: "form-control" %>
    </div>

    <%= f.label :inscricao_municipal, 'Inscrição Municipal', class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :inscricao_municipal, class: "form-control" %>
    </div>
  </div>    

  <div class="form-group">
    <%= f.label :endereco, 'Endereço', class: "col-sm-1 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :endereco, class: "form-control" %>
    </div>

    <%= f.label :numero, 'Nº', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :numero, class: "form-control" %>
    </div>
  </div> 

  <div class="form-group">
    <%= f.label :complemento, 'Complemento', class: "col-sm-1 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :complemento, class: "form-control" %>
    </div>
  </div> 

  <div class="form-group">
    <%= f.label :bairro, 'Bairro', class: "col-sm-1 control-label" %>  
    <div class="col-sm-3">
      <%= f.text_field :bairro, class: "form-control" %>
    </div>

    <%= f.label :cidade, 'Cidade', class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :cidade, class: "form-control" %>
    </div>
  
    <%= f.label :cep, 'CEP', class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :cep, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">    
    <%= f.label :uf, 'UF', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :uf, class: "form-control" %>
    </div>

    <%= f.label :codcid_ibge, 'Código IBGE', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :codcid_ibge, class: "form-control" %>
    </div> 

    <%= f.label :codigo_uf_emitente, 'Código UF Emitente', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :codigo_uf_emitente, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :telefone, 'DDD+Telefone', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :telefone, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :email, 'Email', class: "col-sm-1 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :aliquota_pis, 'PIS (%)', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :aliquota_pis, class: "form-control" %>
    </div>

    <%= f.label :aliquota_cofins, 'COFINS (%)', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :aliquota_cofins, class: "form-control" %>
    </div>

    <%= f.label :serie_nfe, 'Série NF', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :serie_nfe, class: "form-control" %>
    </div>

    <%= f.label :cnae, 'CNAE', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :cnae, class: "form-control" %>
    </div>

    <%= f.label :ambiente, 'Ambiente', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :ambiente, class: "form-control" %>
    </div>

    <%= f.label :versao_layout, 'Versão Layout', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :versao_layout, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :regime_tributario, 'Regime Tributário', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :regime_tributario, class: "form-control" %>
    </div>

    <%= f.label :emissor_nfe, 'Tipo Emissor', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :emissor_nfe, class: "form-control" %>
    </div>

    <%= f.label :permite_credito_icms, 'Permite Crédito ICMS ?', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :permite_credito_icms, class: "form-control" %>
    </div>

    <%= f.label :credito_icms_pc, 'Crédito ICMS (%)', class: "col-sm-1 control-label" %>
    <div class="col-sm-1">
      <%= f.text_field :credito_icms_pc, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :empresa_uninfe, class: "col-sm-1 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :empresa_uninfe, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :pasta_envio, 'Caminho Pasta Envio', class: "col-sm-1 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :pasta_envio, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :pasta_retorno, 'Caminho Pasta retorno', class: "col-sm-1 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :pasta_retorno, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :senha, 'Senha', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :senha, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-1">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
  </div>  
<% end %>

<script>
//Bloqueia a tecla Enter no campo de Input
$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});

</script>