<div class="page-header">
  <%= link_to new_empresa_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo
  <% end %>
  <h2>Lista Empresas</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Nome Fantasia</th>
        <th>Cnpj</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @empresas) do |empresa| %>
        <td><%= empresa.nome %></td>
        <td><%= empresa.nome_fantasia %></td>
        <td><%= empresa.cnpj %></td>
        <td><%= link_to 'Mostrar', empresa %></td>
        <td><%= link_to 'Editar', edit_empresa_path(empresa) %></td>
        <td><%= link_to 'Apagar', empresa, method: :delete, data: { confirm: 'Confirma ?' } %></td>
      <% end %>
    </tbody>
  </table>

  <div class="apple_pagination">
    <%= will_paginate @empresas, :container => false %>
  </div>    
</div>
