<h1>Clientes</h1>

<div class="page-header">
  <%= link_to clientes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_cliente_path(@cliente), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h2>Mostrar</h2>
</div>

<dl class="dl-horizontal">
  <dt>Nome/Razão Social:</dt>
  <dd><%= @cliente.nome %></dd>
  <dt>Pessoa:</dt>
  <dd><%= @cliente.pessoa %></dd>
  <dt>CPF:</dt>
  <dd><%= @cliente.cpf %></dd>
  <dt>RG:</dt>
  <dd><%= @cliente.rg %></dd>
  <dt>CNPJ:</dt>
  <dd><%= @cliente.cnpj %></dd>
  <dt>IE:</dt>
  <dd><%= @cliente.ie %></dd>
  <dt>Endereço:</dt>
  <dd><%= @cliente.endereco %></dd>
  <dt>Bairro:</dt>
  <dd><%= @cliente.bairro %></dd>
  <dt>Cidade:</dt>
  <dd><%= @cliente.cidade %></dd>
  <dt>CEP:</dt>
  <dd><%= @cliente.cep %></dd>
  <dt>UF:</dt>
  <dd><%= @cliente.uf %></dd>
  <dt>Email:</dt>
  <dd><%= @cliente.email %></dd>
  <dt>Codcidade ibge:</dt>
  <dd><%= @cliente.codcidade_ibge %></dd>
</dl>
