<h2>Plano de Contas</h2>

<div class="page-header">
  <%= link_to plano_contas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_plano_conta_path(@plano_conta), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h2>Mostrar</h2>
</div>

<dl class="dl-horizontal">
  <dt>Conta:</dt>
  <dd><%= @plano_conta.conta %></dd>
  <dt>Descricao:</dt>
  <dd><%= @plano_conta.descricao %></dd>
  <dt>Grau:</dt>
  <dd><%= @plano_conta.grau %></dd>
</dl>
